<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="js/vue.min.js" ></script>
	</head>
	<body>
		<div id="app">
			<input v-model="number" />
			<button @click="add">添加</button>
			<p v-for="item in list">{{item}}</p>
		</div>
	</body>
	<script>
		var vm = new Vue({
			el:'#app',
			data:{
				list:[1,2,3,4,45,5],
				number:''
			},
			methods:{
				add(){
					
					if (this.number in this.list) return
					this.list.push(parseInt(this.number));
				}
			}
		});
	</script>
</html>
